<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>		
	<category label="Downloads">
	 <setting id="download_folder" type="folder" label="30030" default=""/>
	 <setting id="del_incomplete_dwnld" type="bool" label="30031" default="true"/>
	 <setting id="ask_filename" type="bool" label="30032" default="false"/>
	</category>
</settings>